<!DOCTYPE html>
<html lang="ko">
	<head prefix="og: http://ogp.me/ns#">
		<title>キネヌのページ</title>

		<meta charset="utf-8">
		<meta name="description" content="Khinenw의 개인 페이지">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta property="og:title" content="キネヌのページ">
		<meta property="og:site_name" content="キネヌのページ">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://khinenw.tk/">
		<meta property="og:image" content="">
		<meta name="msapplication-TileColor" content="#222222">
		<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=2">
		<meta name="theme-color" content="#00c0a0">

		<link rel="stylesheet" href="/font-d2coding/d2coding.css">
		<link rel="stylesheet" href="/NanumBarunGothic/nanumbarungothic.css">
		<link rel="stylesheet" href="/spoqa-han-sans/css/SpoqaHanSans-jp.css">
		<link rel="stylesheet" href="/mdi/css/materialdesignicons.min.css">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=2">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=2">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=2">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=2">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=2">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=2">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=2">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=2">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=2">
		<link rel="icon" type="image/png" href="/favicon-32x32.png?v=2" sizes="32x32">
		<link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=2" sizes="192x192">
		<link rel="icon" type="image/png" href="/favicon-16x16.png?v=2" sizes="16x16">
		<link rel="manifest" href="/manifest.json?v=2">
		<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#00c0a0">
		<link rel="shortcut icon" href="/favicon.ico?v=2">
	</head>

	<body>
		<%- include(name) %>
	</body>
</html>
