<!DOCTYPE html>
<%
	const date = new Date;
	const dateFromZero = date.getMonth() * 30 + date.getDate();

	const CHRISTMAS_MODE = dateFromZero >= 10 * 30 + 25 || dateFromZero <= 25;
%>
<html lang="ko">
	<head prefix="og: http://ogp.me/ns#">
		<title>キネヌのページ</title>

		<meta charset="utf-8">
		<meta name="description" content="Khinenw의 개인 페이지">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta property="og:title" content="キネヌのページ">
		<meta property="og:site_name" content="キネヌのページ">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://khinenw.tk/">
		<meta property="og:image" content="https://khinenw.tk/resources/image/nenwchan-logo.png">
		<meta name="apple-mobile-web-app-title" content="Khinenw's Page">
		<meta name="application-name" content="Khinenw's Page">
		<meta name="msapplication-TileColor" content="#00c0a0">
		<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=3">
		<meta name="theme-color" content="#00c0a0">
		<meta name="turbolinks-cache-control" content="no-cache">

		<link rel="stylesheet" href="/font-d2coding/d2coding.css">
		<link rel="stylesheet" href="/NanumBarunGothic/nanumbarungothic.css">
		<link rel="stylesheet" href="/spoqa-han-sans/css/SpoqaHanSans-jp.css">
		<link rel="stylesheet" href="/mdi/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="/resources/css/index.css">
		<link rel="stylesheet" href="/resources/css/pjax.css">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=3">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=3">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=3">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=3">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=3">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=3">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=3">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=3">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=3">
		<link rel="icon" type="image/png" href="/favicon-32x32.png?v=3" sizes="32x32">
		<link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=3" sizes="192x192">
		<link rel="icon" type="image/png" href="/favicon-16x16.png?v=3" sizes="16x16">
		<link rel="manifest" href="/manifest.json?v=3">
		<link rel="mask-icon" href="/safari-pinned-tab.svg?v=3" color="#00c0a0">
		<link rel="shortcut icon" href="/favicon.ico?v=3">

		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="/parallax.js/parallax.min.js"></script>
		<script src="/resources/js/turbolinks.min.js"></script>
		<script src="/resources/js/pjax.js"></script>

		<!-- BGM nenw embed integration -->
		<!-- Turbolinks refreshes the iframe tags -->
		<% if(CHRISTMAS_MODE){ %>
			<link rel="stylesheet" type="text/css" href="https://bgm.khinenw.tk/font-awesome/css/font-awesome.min.css">
			<style>
				body {
					background: transparent;
				}

				.ba{
					color: #00C0A0;
				}

				.ba:hover, .ba:active, .ba:focus, .ba:visited{
					color: #16A085;
				}

				.contents{
					background: #222f3d;
					border: solid 3px #222f3d;
					border-radius: 5px;
					font-family: 'Nanum Barun Gothic', sans-serif;
				}

				.row{
					margin: 0;
				}

				#title-contents{
					overflow: hidden;
					white-space: nowrap;
				}

				#song-contents{
					color: #00C0A0;
					margin-left: 10px;
				}
			</style>

			<script src="/resources/js/embed.js"></script>
			<script src="/resources/js/snowy.js"></script>
		<% } %>
	</head>

	<body>
		<%- include(name) %>
		<% if(CHRISTMAS_MODE){ %>
			<canvas id="playground" style="position: fixed; top: 0; left: 0-; width: 100%; height: 100%; pointer-events: none" width="1440" height="809">
				<p>
				눈오는 풍경을 못보시겠네요. 불쌍ㅠ
				</p>
			</canvas>

			<div class="contents" id="bgm" data-turbolinks-permanent>
				<div class="bs-row">
					<div id="title-contents" class="bs-col-xs-8">
						<span id="song-contents">
						</span>
					</div>

					<div class="bs-col-xs-1">
						<a class="ba" id="prev" href="javascript:prevTrack()">
							<span class="fa fa-chevron-left"></span>
						</a>
					</div>

					<div class="bs-col-xs-1">
						<a class="ba" id="playpause" href="javascript:play()">
							<span class="fa fa-play-circle-o"></span>
						</a>
					</div>

					<div class="bs-col-xs-1">
						<a class="ba" id="next" href="javascript:nextTrack()">
							<span class="fa fa-chevron-right"></span>
						</a>
					</div>
				</div>
			</div>
		<% } %>
	</body>
</html>
