<aside>
	<a href="#!"><h1>キネヌの<span class="unbold-text">ページ</span></h1></a>
	<nav>
		<a href="/"><h3>Home</h3></a>
		<a href="/gallery"><h3>Gallery</h3></a>
		<a href="/service"><h3>Services</h3></a>
	</nav>
</aside>

<main>
	<section class="main-section">
			<div class="header-wrapper">
				<div class="header-content">
					<h1 class="header-title"><i class="mdi mdi-image" style="font-size: 10rem;"></i></h1>
					<h3 class="header-title" style="font-size: 1.7rem; font-weight: 300">Gallery</h3>
				</div>
			</div>
		</header>
	</section>

	<section class="content-section">
		<header class="content-header">
			<h1>Summary</h1>
		</header>
		<%
			['Triangle 1', 'Triangle 2', 'Triangle 3', 'Circles', 'Pixels', 'Lines', [
				'DiagonalPattern',
				'Diagonal Pattern'
			], [
				'SquarePattern',
				'Square Pattern'
			], [
				'TrianglePattern',
				'Triangle Pattern'
			], [
				'DragonCurve',
				'Dragon Curve (WIP)'
			], [
				'BinaryClock',
				'Binary Clock'
			]].forEach((v) => { %>
				<div class="decorated-text-wrapper">
				<% if(typeof v === 'string'){ %>
					<a href="/play/<%- v %>.html" class="decorated-text"><%- v %></a>
				<% }else{ %>
					<a href="/play/<%- v[0] %>.html" class="decorated-text"><%- v[1] %></a>
				<% } %>
				</div>
			<% }); %>
	</section>


	<footer>
		<div class="highlight">
			<div class="content-container">
				<h1>Footer</h1>
				<p>Powered by <span class="unbold-text">Express</span><br>
				Used <span class="unbold-text">Nanum Barun Gothic, Spoqa Han Sans</span></p>
			</div>
		</div>
		<div class="darken">
			<div class="content-container">
				© 2016 <span class="unbold-text">Khinenw</span>
				<span class="right-text">
					View on
					<a href="https://github.com/HelloWorld017/nenwchan" class="no-decoration" data-turbolinks="false">
						<span class="bold-text">GitHub</span>
					</a>
				</span>
			</div>
		</div>
	</footer>
</main>
