<aside>
	<a href="#!"><h1>キネヌの<span class="unbold-text">ページ</span></h1></a>
	<nav>
		<a href="#!" data-href=".main-section" data-turbolinks="false"><h3>Home</h3></a>
		<a href="#!" data-href="#summary" data-turbolinks="false">Summary</a>
		<a href="#!" data-href="#about-khinenw" data-turbolinks="false">About <span class="unbold-text">Khinenw</span></a>
		<a href="#!" data-href="footer" data-turbolinks="false">Footer</a>
		<a href="/gallery"><h3>Gallery</h3></a>
		<a href="/service"><h3>Services</h3></a>
	</nav>
</aside>

<main>
	<section class="main-section">
		<header class="main-header">
			<div class="header-wrapper">
				<div class="header-content">
					<h1 class="header-title">キネヌのページ</h1>
					<p class="header-desc">키네누의 페이지에 오신 것을 환영합니다!</p>
				</div>
			</div>
		</header>
		<a href="#!" class="section-scroll" data-turbolinks="false"><i class="mdi mdi-chevron-down"></i></a>
	</section>

	<section id="summary" class="content-section">
		<header class="content-header">
			<h1>Summary</h1>
		</header>
		<pre class="sh"><span class="sh-line">1</span><span class="sh-code">console.log(<span class="sh-str">"Hello, World!"</span>);</span></pre>
	</section>

	<section id="about-khinenw" class="content-section" style="background: #fff">
		<header class="content-header">
			<h1 style="color: #333">About <span class="unbold-text">Khinenw</span></h1>
		</header>
		<h3 class="unbold-text">대덕고등학교에 재학중인 <span class="striken-text">개발자</span> 코딩노예</h3>
		<img src="https://track.khinenw.tk/script/res/profile2" style="width: 100%; margin-bottom: 50px;">
		<br>
		<div style="margin-bottom: 50px;">
			<h2>Links</h3>
			<a style="color: #333" href="https://github.com/HelloWorld017/" data-turbolinks="false">Github</a>
			<a style="color: #333" href="https://blog.khinenw.tk/" data-turbolinks="false">Blog</a>
			<a style="color: #333" href="https://playoverwatch.com/ko-kr/career/pc/kr/Khinenw-1422" data-turbolinks="false">Overwatch</a>
		</div>
	</section>

	<section class="content-section parallax-section" style="height: 300px; background: transparent;"></section>

	<% include ./footer %>
</main>

<script src="/resources/js/index.js"></script>
