<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/font-d2coding/d2coding.css">
		<link rel="stylesheet" href="/NanumBarunGothic/nanumbarungothic.css">
		<link rel="stylesheet" href="/spoqa-han-sans/css/SpoqaHanSans-jp.css">
		<link rel="stylesheet" href="/mdi/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="/resources/css/index.css">
	</head>

	<body>
		<aside>
			<h1>キネヌのページ</h1>
			<nav>
			</nav>
		</aside>

		<main>
			<section class="main-section">
				<header class="main-header">
					<div class="header-wrapper">
						<div class="header-content">
							<h1 class="header-title">キネヌのページ</h1>
							<p class="header-desc">키네누의 페이지에 오신 것을 환영합니다!</p>
						</div>
					</div>
				</header>
				<a href="#!" class="section-scroll"><i class="mdi mdi-chevron-down"></i></a>
			</section>

			<section class="content-section">
				<header class="content-header">
					<h1>Summary</h1>
				</header>
				<pre class="sh"><span class="sh-line">1</span><span class="sh-code">console.log(<span class="sh-str">"Hello, World!"</span>);</span></pre>
			</section>

			<section class="content-section" style="background: #fff">
				<header class="content-header">
					<h1 style="color: #333">About Khinenw</h1>
				</header>
				<img src="https://track.khinenw.tk/script/res/profile2" style="width: 100%; margin-bottom: 50px;">
				<br style="margin-bottom: 50px;">
				<a style="color: #333" href="https://github.com/HelloWorld017/">Github</a>
				<a style="color: #333" href="https://blog.khinenw.tk/">Blog</a>
				<a style="color: #333" href="https://playoverwatch.com/ko-kr/career/pc/kr/Khinenw-1422">Overwatch</a>
			</section>
		</main>

		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="/parallax.js/parallax.min.js"></script>
		<script src="/resources/js/index.js"></script>
	</body>
</html>
