<aside>
	<a href="/">
		<h1>
			<img class="title-logo" src="/resources/image/logo.svg">
			キネヌの<span class="unbold-text">ページ</span>
		</h1>
	</a>
	<nav>
		<a href="/"><h3>Home</h3></a>
		<a href="/gallery"><h3>Gallery</h3></a>
		<a href="#!" data-href=".main-section" data-turbolinks="false"><h3>Services</h3></a>
		<a href="#!" data-href="#web" data-turbolinks="false">Web</a>
		<a href="#!" data-href="#telegram" data-turbolinks="false">Telegram</a>
		<a href="#!" data-href="#deprecated" data-turbolinks="false">Deprecated</a>
		<a href="#!" data-href="footer" data-turbolinks="false">Footer</a>
	</nav>
</aside>

<div class="menu-background"></div>

<main>
	<a class="menu-viewer" href="#!" data-turbolinks="false"><i class="mdi mdi-apps" style="margin-right: 5px;"></i>Menu</a>
	<section class="main-section">
			<div class="header-wrapper">
				<div class="header-content">
					<h1 class="header-title"><i class="mdi mdi-image" style="font-size: 10rem;"></i></h1>
					<h3 class="header-title" style="font-size: 1.7rem; font-weight: 300">Services</h3>
				</div>
			</div>
		</header>
	</section>

	<section id="web" class="no-background content-section enlarged-section">
		<header class="centered content-header">
			<h1 style="display: block"><i class="mdi mdi-language-javascript"></i></h1>
			<h3 class="header-title" style="font-size: 1.7rem; font-weight: 300; display: block;">Web</h3>
		</header>

		<div class="row">
			<div class="service-card">
				<h4 class="service-card-header">osu! <span class="unbold-text">Player</span></h4>
				<div class="service-card-image"><img src="/resources/image/osu-player.png"></div>
				<p>osu!의 배경음악을 들어보세요!</p>
				<div class="service-card-link">
					<a href="https://bgm.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>

			<div class="service-card">
				<h4 class="service-card-header">H <span class="unbold-text">Khinenw</span></h4>
				<div class="service-card-image"><i class="mdi mdi-help"></i></div>
				<p>????</p>
				<div class="service-card-link">
					<a href="https://h.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>

			<div class="service-card">
				<h4 class="service-card-header">Khinenw's <span class="unbold-text">Blog</span></h4>
				<div class="service-card-image"><i class="mdi mdi-comment-text"></i></div>
				<p>키네누의 블로그를 열람해보세요.</p>
				<div class="service-card-link">
					<a href="https://blog.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>

			<div class="service-card">
				<h4 class="service-card-header">Status <span class="unbold-text">nenw</span></h4>
				<div class="service-card-image"><img src="/resources/image/statuscake.png"></div>
				<p>현재 서버의 상황을 알 수 있습니다.</p>
				<div class="service-card-link">
					<a href="https://stat.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>

			<div class="service-card">
				<h4 class="service-card-header">Overrun <span class="unbold-text">online</span></h4>
				<div class="service-card-image"><img src="/resources/image/overrun.png"></div>
				<p>알고리즘을 제작해 서로 겨뤄 보세요!</p>
				<div class="service-card-link">
					<a href="https://or.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>
		</div>
	</section>

	<section id="telegram" class="no-background content-section enlarged-section">
		<header class="centered content-header">
			<h1 style="display: block"><i class="mdi mdi-telegram"></i></h1>
			<h3 class="header-title" style="font-size: 1.7rem; font-weight: 300; display: block;">Telegram</h3>
		</header>

		<div class="row">
			<div class="service-card">
				<h4 class="service-card-header">나무위키 <span class="unbold-text">봇</span></h4>
				<div class="service-card-image"><img src="/resources/image/namuwikibot.png"></div>
				<p>나무위키에서 항목을 검색해주는 텔레그램 봇입니다.</p>
				<div class="service-card-link">
					<a href="https://namu.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>

			<div class="service-card">
				<h4 class="service-card-header">월요일의 <span class="unbold-text">타와와 봇</span></h4>
				<div class="service-card-image"><img src="/resources/image/tawawabot.jpg"></div>
				<p>매주 월요일에 올라오는 월요일의 타와와를 구독해주는 텔레그램 봇입니다.</p>
				<div class="service-card-link">
					<a href="https://tww.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>

			<div class="service-card">
				<h4 class="service-card-header">서브컬쳐 음악 모음 <span class="unbold-text">관리자 봇</span></h4>
				<div class="service-card-image"><img src="/resources/image/submusicbot.png"></div>
				<p>@submusik 채널에 음악을 업로드 할 수 있게 해주는 텔레그램 봇입니다.</p>
				<div class="service-card-link">
					<a href="https://smc.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>
		</div>
	</section>

	<section id="deprecated" class="no-background content-section enlarged-section">
		<header class="centered content-header">
			<h1 style="display: block"><i class="mdi mdi-alert-box"></i></h1>
			<h3 class="header-title" style="font-size: 1.7rem; font-weight: 300; display: block;">Deprecated</h3>
		</header>

		<div class="row">
			<div class="service-card">
				<h4 class="service-card-header">레거시 <span class="unbold-text">사이트</span></h4>
				<div class="service-card-image"><i class="mdi mdi-backup-restore"></i></div>
				<p>이전 버전의 Khinenw's Page 입니다.<br>오류는 책임지지 않습니다!</p>
				<div class="service-card-link">
					<a href="https://legacy.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>

			<div class="service-card">
				<h4 class="service-card-header">다운로드 <span class="unbold-text">센터</span></h4>
				<div class="service-card-image"><i class="mdi mdi-download"></i></div>
				<p>더 이상 관리되지 않는 다운로드 센터입니다.</p>
				<div class="service-card-link">
					<a href="https://dl.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>

			<div class="service-card">
				<h4 class="service-card-header">레거시 <span class="unbold-text">블로그</span></h4>
				<div class="service-card-image"><i class="mdi mdi-delete-circle"></i></div>
				<p>이전 버전의 Khinenw's Blog 입니다.</p>
				<div class="service-card-link">
					<a href="https://lblog.khinenw.tk" data-turbolinks="false">자세히 보기</a>
				</div>
			</div>
		</div>
	</section>

	<% include ./footer %>
</main>

<script src="/resources/js/service.js"></script>
