#ajax-loader {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	display: table;
	position: fixed;
}

#ajax-cover {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

#bgm {
	position: fixed;
	bottom: 1rem;
	right: 3rem;
	border: none;
	width: 310px;
	height: 26px;
}
